body{
    margin: 0;
    padding: 0;
    background: url(images/bg.jpg) no-repeat;
    background-size: cover;
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
}
a{
    text-decoration:none !important;
}
.tablebox{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #04AA6D;
  color: white;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:hover {background-color: yellow;}
